<nav class="nav">
  <img
    alt="logo"
    class="nav--logo"
    src="../../assets/img/Logo.png"
  >
  <h1 class="nav--title">My Calcucator</h1>

  <ul class="nav--list-ul">
    <li class="nav--list-li"><a
      href="https://github.com/Felipebarcon"
      target="_blank"
    ><i
      class="fa fa-github"
    ></i></a></li>
    <li class="nav--list-li"><a
      href="https://www.linkedin.com/in/felipe-barcon/ "
      target="_blank"
    ><i class="fa fa-linkedin"></i></a></li>
    <li class="nav--list-li"><a
      href="https://twitter.com/felipe_barcon"
      target="_blank"
    ><i
      class="fa fa-twitter"
    ></i></a></li>
  </ul>
</nav>
