<div class="calculator">

  <input
    class="calculator-screen"
    disabled
    type="text"
    value="0"
  />

  <div class="calculator-keys">

    <button
      class="operator"
      type="button"
      value="+"
    >+
    </button>
    <button
      class="operator"
      type="button"
      value="-"
    >-
    </button>
    <button
      class="operator"
      type="button"
      value="*"
    >&times;
    </button>
    <button
      class="operator"
      type="button"
      value="/"
    >&divide;
    </button>

    <button
      type="button"
      value="7"
    >7
    </button>
    <button
      type="button"
      value="8"
    >8
    </button>
    <button
      type="button"
      value="9"
    >9
    </button>

    <button
      type="button"
      value="4"
    >4
    </button>
    <button
      type="button"
      value="5"
    >5
    </button>
    <button
      type="button"
      value="6"
    >6
    </button>

    <button
      type="button"
      value="1"
    >1
    </button>
    <button
      type="button"
      value="2"
    >2
    </button>
    <button
      type="button"
      value="3"
    >3
    </button>

    <button
      type="button"
      value="0"
    >0
    </button>
    <button
      class="decimal"
      type="button"
      value="."
    >.
    </button>
    <button
      class="all-clear"
      type="button"
      value="all-clear"
    >AC
    </button>

    <button
      class="equal-sign"
      type="button"
      value="="
    >=
    </button>

  </div>
</div>
